/* .widgets__trendsContainer .MuiButton-root{
    border: 1px solid var(--twittie-darker-color);
    border-radius: 2rem;
    color: var(--twittie-darker-color);
    font-weight: 600;
    text-transform: unset;
    font-size: 1.2rem;
    height: 2.8rem;
    width: 7rem;
}

.widgets__trendsContainer  .MuiAvatar-img{
    width: 5rem;
    height: 5rem;
}

.widgets__trendsContainer .MuiAvatar-root{
    margin-right: 1.5rem;
} */

